<!DOCTYPE html>
<html>
<head>
    <title>Ejercicio2</title>
    <link rel="stylesheet" type="text/css" href="/static/css/ejercicio2.css">
</head>
<body>
    <div class="container">
        <form method="post" action="/ejercicio2">
            <label>Nombre 1:</label>
            <input type="text" name="nombre1" required><br>

            <label>Nombre 2:</label>
            <input type="text" name="nombre2" required><br>

            <label>Nombre 3:</label>
            <input type="text" name="nombre3" required><br>

            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>
